@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic);

/*
========================================================================
BLOG :: Body
========================================================================
*/

body {
	font-family: 'Open Sans',arial,sans-serif;
	background-color: #DAF9E4;
	margin: 0;
	padding: 20px;
	font-size: 62.5%;
	color: #555;
}

#container {
    margin: 0 auto;
    max-width: 980px;
    min-width: 600px;
    overflow: auto;
    padding: 20px;
	border: 1px solid #F7F7F7;
	border-radius: 12px;	
	background-color: #FFFFFF;
}

a {
	color: #006AC8;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
========================================================================
BLOG :: Head
========================================================================
*/

#blog-head {
	overflow: auto;
	margin: 10px 0 30px 0;
	font-weight: lighter;
	font-size: 3.5em;
	border-bottom: 1px solid #C1C1C1;
	padding-bottom: 20px;
}

#blog-head	a {
	color: #333;
	text-decoration: none;
	font-size: 3.5em;
}

#blog-head	span.blog-title {
	color: #FFFFFF;
}

#blog-head	span.blog-slogan {
	color: #D21524;
}

/*
========================================================================
BLOG :: Main
========================================================================
*/

#main {
    margin: 0 auto;
    overflow: auto;
	font-size: 1.4em;
}

#left {
    margin-right: 280px;
}

#sidebar {
	float: right;
	width: 230px;
	margin-right: 10px;
}

/*
========================================================================
BLOG :: Footer
========================================================================
*/

#blog-foot {
	text-align: right;
	font-size: 1.1em;
}

#sign-up {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	margin:0px;
}

#sign-up:hover {
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	cursor: pointer;
}

#rss-feed {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	margin:0px;
}

#rss-feed:hover {
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	cursor: pointer;
}

.textbox {
	background-color: #DAF9E4;
	margin: 1px;
	border-style: solid;
	border-color: #015D4E;
	border-width: 1px;
	font-family: Arial;
	font-size: 14px;
	-moz-padding-start: 1px;
	-moz-padding-end: 1px;
	padding: 1px;
	padding-left: 3px;
	border-radius: 3px;
	width: 250px;
}

.textbox:focus {
	box-shadow:0px 0px 3px #015D4E;
}

.textbox:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #DAF9E4 inset;
}

/*
========================================================================
BLOG :: Page 404
========================================================================
*/

div.page_404 {

}

/*
========================================================================
BLOG :: Pager
========================================================================
*/

#pager {
	overflow: auto;
	text-align: center;
}

#pager	a.prev-page {
	float: left;
	background: #FFFFFF;
	margin: 0;
	padding: 0 5px;
	white-space: nowrap;
	text-decoration: none;
}

#pager	a.prev-arrow {
	float: right;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#pager	a.home-page {
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

#pager	a.next-page {
	float: right;
	background: #FFFFFF;
	margin: 0;
	padding: 0 5px;
	white-space: nowrap;
	text-decoration: none;
}

#pager	a.next-arrow {
	float: left;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/*
========================================================================
Nibbleblog Styles
========================================================================
*/

.nb-code {
	border-style: solid !important;
}

.nb-console {
    background: url("img/console.png") no-repeat scroll 8px 8px #C1C1C1;
    display: block;
    line-height: 24px;
    margin: 5px 0;
    overflow: auto;
    padding-left: 38px;
    white-space: nowrap;
    border: 1px solid #ccc !important;
}

.nb-align-left {
	float:left;
	margin:0 1em 1em 0;
}

.nb-align-right {
	float:right;
	margin:0 0 1em 1em;
}

.nb-align-center {
	display:block;
	margin:0 auto 1em;
}