/*
========================================================================
PAGE
========================================================================
*/

article.page {
	margin-bottom: 60px;
	overflow: hidden;
}

/*
========================================================================
PAGE :: Head
========================================================================
*/

article.page	header {
    padding: 0;
    margin: 0;
}

article.page	header	h1.page-title {
	font-size: 1.75em;
	padding: 0;
	margin: 0;
	color: #4C456F;
	font-weight: 600;
}

/*
========================================================================
PAGE :: Content
========================================================================
*/

article.page	div.page-content	pre {
	border: 1px dashed #ccc;
}

article.page	div.page-content	img {
	max-width:100%;
}

article.page	div.page-content	blockquote {
	font-size: 1.1em;
	font-style: italic;
}

article.page	div.page-content	h1,
article.page	div.page-content	h2,
article.page	div.page-content	h3,
article.page	div.page-content	h4,
article.page	div.page-content	h5 {
	font-weight: normal;
	color: #333333;
	margin: 22px 0 13px 0;
	padding: 0;
}

article.page	div.page-content	h1 {
	font-size: 1.8em;
}

article.page	div.page-content	p {
	line-height: 1.5em;
}

article.page	div.page-content	.video-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 13px 0;
}

article.page	div.page-content	.video-embed iframe,
article.page	div.page-content	.video-embed object,
article.page	div.page-content	.video-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}