/*====================================================================*/
/* BODY
/*====================================================================*/
body {
	font-family: arial, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	color: #555;
	overflow-y: scroll;
}

#container {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

a {
	color: #428BCA;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

header.separator {
	border-bottom: 1px solid #DDDDDD;
	margin: 40px 0 20px 0;
}

header.separator_top {
	border-bottom: 1px solid #DDDDDD;
	margin: 0px 0 20px 0;
}

div.separator {
	border-bottom: 4px solid #DDDDDD;
	color: #4C4C4C;
	font-size: 1.9em;
	font-weight: normal;
	line-height: 20px;
	padding: 0 0 10px;
	display: inline-block;
}

#alert {
	background-color: #015D4E;
	color: #FFFFFF;
	font-size: 1.4em;
	padding: 16px 0;
	position: fixed;
	text-align: center;
	bottom: 0;
	max-width: 1200px;
	width: 95%;
	display:none;
}

/*====================================================================*/
/* HEAD  015D4E
/*====================================================================*/
#head {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    padding: 20px 10px;
}

#head span.mrnibbler {
	background: url("img/mrnibbler.png") no-repeat 0 center;
	display: inline-block;
	font-size: 2.2em;
	color: #333;
	padding-left: 30px;
	margin-left: -7px;
	line-height: 24px;
	font-family: sans-serif;
	font-weight: lighter;
}

#head a {
	float: right;
	display: inline-block;
	line-height: 26px;
	font-size: 1.4em;
	margin: 0 25px 0 0;
	color: #333;
}

#head a:hover {
	color: #006AC8;
}

#head span.icon {
	margin-right: 4px;
}

/*====================================================================*/
/* TOOLBAR
/*====================================================================*/

div.top_toolbar {
	font-size: 1.4em;
	margin-bottom: 20px;
}

div.top_toolbar a {
	border-bottom: 3px solid #f1f1f1;
	display: inline-block;
	margin-right: 20px;
	padding-bottom: 5px;
	text-align: center;
}

div.top_toolbar a:hover {
	border-bottom: 3px solid #428BCA;
}

div.top_toolbar a.selected {
	border-bottom: 3px solid #428BCA;
}

/*====================================================================*/
/* FOOTER
/*====================================================================*/
#footer {
    border-top: 1px solid #DDDDDD;
    clear: both;
    float: right;
    padding: 10px 100px;
    text-align: center;
}

#footer	p {
	font-size: 1.4em;
	margin: 0;
}

/*====================================================================*/
/* MAIN
/*====================================================================*/
#main {
	clear: both;
	overflow: auto;
}

#main_left {
    clear: left;
    float: left;
    margin: 50px 60px 0 0;
}

#main_right {
    overflow: hidden;
    text-overflow: scroll;
    max-width: 1160px;
    padding: 0 2px;
    margin-bottom: 20px;
}

#main_right	h1.title {
	margin-bottom: 30px;
	margin-top: 0;
	padding: 0;
	font-size: 2.7em;
	font-weight: lighter;
	color: #333;
}

span.icon {
	margin-right: 10px;
}

a.default_homepage {
    background: #F9FCFF;
    border-bottom: 1px solid #428BCA;
    border-top: 1px solid #428BCA;
    color: #333333;
    display: block;
    font-size: 1.4em;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

a.default_homepage:hover {
	background: #E4F4FF;
}

/*====================================================================*/
/* SIDEBAR
/*====================================================================*/
#main_left	a.sidelink {
	font-size: 1.5em;
	display: block;
	margin-bottom: 23px;
	color: #333;
}

#main_left	a.selected {
	color: #428BCA;
}

#main_left	a.sidelink:hover {
	color: #428BCA;
	text-decoration: none;
}


#main_left span.icon {
	margin-right: 10px;
}

/*====================================================================*/
/* DASHBOARD
/*====================================================================*/
div.dashboard_left {
    float: left;
    margin-right: 25px;
    padding-right: 25px;
    width: 45%;
}

div.dashboard_right {
    float: left;
    width: 47%;
}

div.dashboard_box {
    background: #FDFDFD;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #DDDDDD;
}

div.dashboard_title {
	font-size: 1.8em;
	margin-bottom: 20px;
	color: #555;
}

p.empty {
	font-size: 1.2em;
	font-style: italic;
}

/* Quick links */
div.wrap_quick {
	margin-bottom: 5px;
	padding: 15px 15px;
	border-left: 4px solid #1F85BE;
}

div.dashboard_box	a.quick {
	font-size: 1.5em;
	margin-right: 15px;
}

div.dashboard_box	a.quick:hover {
	color: #4C456F;
}

/* Drafts */
div.dashboard_box	a.draft {
	padding: 15px 15px;
	margin-bottom: 10px;
    display: block;
    background: #F7F7F7;
	font-size: 1.5em;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-left: 4px solid #8D9BA1;
}

div.dashboard_box	a.draft:hover {
	text-decoration: none;
	background: #F0F0F0;
}

/* Last comments */
div.dashboard_box	a.last_comments {
	padding: 10px;
	margin-bottom: 10px;
    display: block;
    background: #FAFAFA;
    color: #333;
	overflow: hidden;
	border-left: 4px solid #0D794A;
}

div.dashboard_box	a.last_comments:hover {
	text-decoration: none;
	background: #F4F4F4;
}

div.dashboard_box	a.last_comments	div.content {
	margin-bottom: 5px;
	font-size: 1.4em;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.dashboard_box	a.last_comments	div.info {
	font-size: 1.2em;
	color: #AAAAAA;
}

div.dashboard_box	a.comment_spam {
	border-left: 4px solid #D72020 !important;
}

div.dashboard_box	a.comment_unapproved {
	border-left: 4px solid #F1CC19 !important;
}

/* Notifications */
div.notification {
    display: block;
    padding: 0px 10px;
    margin-bottom: 25px;
}

div.notification	div.icon {
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin-left: 3px;
}

div.notification	div.type {
	margin-bottom: 5px;
	font-size: 1.4em;
	margin-left: 40px;
	color: #428BCA;
}

div.notification	div.info {
	margin-bottom: 5px;
	font-size: 1.2em;
	margin-left: 40px;
}

.img_notification_version {
	background: url("img/notification_version.png") no-repeat scroll 16px center #F9F9F9 !important;
    border-left: 4px solid #D31E6E !important;
}

#js_notification_version {
	display: none;
}

/*====================================================================*/
/* FORMS
/*====================================================================*/
div.form_block {
	margin-bottom: 22px;
	font-size: 1.4em;
	clear: both;
}

div.form_block	input[type="text"],
div.form_block	input[type="password"],
div.form_block	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 10px 8px;
	outline:none; /* not focus border on chrome */
	resize: none;
}

div.form_block	input[type="text"]:hover,
div.form_block	input[type="text"]:focus,
div.form_block	textarea:hover,
div.form_block	textarea:focus {
	border-color: #ccc;
	box-shadow: 1px 1px 1px #ccc;
}

div.form_block	input[type="text"].little {
	margin-right: 10px;
	text-align: center;
	width: 50px;
	padding: 5px;
}

div.form_block	input[type="text"].title {
	font-size: 1.4em;
}

div.form_block		select {
	width: 100%;
	padding: 6px;
}

div.form_block		select.little {
	width: 75px;
	padding: 5px;
	margin-right:10px;
}

/* WYSIWYG Editor */
div.form_block	textarea.wysiwyg {
	height: 437px;
	resize: vertical;
}


div.form_block		input[type="checkbox"].float {
	vertical-align: middle;
	margin-left: 0px;
}

div.form_block		label {
	margin-bottom:2px;
}

div.form_block		label.for_checkbox {
	margin-left: 3px;
	margin-bottom: 0;
}

div.form_block		label.blocked {
	display:block;
}

div.form_block		div.input_tip {
	color: #777;
	font-style: italic;
	font-size: 0.85em;
	margin-top: 2px;
}

div.form_block		input[type="submit"].draft,
div.form_block		input[type="submit"].save,
div.form_block		input[type="button"].save,
div.form_block		input[type="button"].disabled {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 7px 33px;
	background: #EFEFEF;
	background: -moz-linear-gradient(center top, #EFEFEF, #DFDFDF);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFDFDF));
}

div.form_block		input[type="submit"].save:hover,
div.form_block		input[type="button"].save:hover {
	background: #DFDFDF;
	background: -moz-linear-gradient(center top, #DFDFDF, #CFCFCF);
	background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#CFCFCF));
}

div.form_block		input[type="button"].disabled {
	color: #CCC;
}

div.form_block		input[type="submit"].draft {
	margin-left:10px;
	color: #FFFFFF;
	background: #3B84BF;
	background: -moz-linear-gradient(center top , #3B84BF, #4183AF);
	background: -webkit-gradient(linear, left top, left bottom, from(#3B84BF), to(#4183AF));
}

div.form_block		input[type="submit"].draft:hover {
	background: #3EACBA;
	background: -moz-linear-gradient(center top, #3B779F, #356B8F);
	background: -webkit-gradient(linear, left top, left bottom, from(#3B779F), to(#356B8F));
}

div.form_block span.icon {
	margin-right: 10px;
}

div.form_block		.toggle_button {
    background: #F0F0EE;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 8px 8px 8px 8px;
}

input[type=file].hidden {
	height: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	display: block;
	visibility: hidden;
}

/*====================================================================*/
/* TABLES
/*====================================================================*/
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    border: 1px solid #DDDDDD;
}

table thead {
	background: #FCFCFC;
	color: #666;
	border: 1px solid #DDDDDD;
}

table thead	th {
	line-height: 23px;
	padding: 6px 10px 8px;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
}

table tr td {
	border-bottom: 1px solid #DDDDDD;
	line-height: 23px;
	padding: 6px 10px 8px;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
}

table td.content {
	text-align: left;
	width: 330px;
}

table td.category {
	text-align: left;
	width: 80%;
}

table div.options a {
	margin-right: 10px;
}

table div.options a:hover {
	color: #4C456F;
}

div.pager {
    font-size: 1.4em;
    text-align: left;
    padding-top: 10px;
}

div.pager	a {
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid #ccc;
	background: #F7F7F7;
	margin-right: 5px;
	margin-bottom: 5px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

div.pager	a:hover {
	text-decoration: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

/*====================================================================*/
/* PLUGINS
/*====================================================================*/
div.plugin {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 12px;
}

div.plugin	h3.name {
	margin: 0;
	font-size: 1.1em;
	font-weight: normal;
	border-bottom: 1px dotted #AAAAAA;
	padding-bottom: 2px;
}

div.plugin	h4.description {
	margin: 8px 0;
	font-weight: normal;
}

div.plugin	a {
	margin-right: 15px;
}

/*====================================================================*/
/* PLUGINS: FORMS
/*====================================================================*/
form.plugins {
	font-size: 1.4em;
}

form.plugins	input[type="text"],
form.plugins	input[type="password"],
form.plugins	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 10px 8px;
	outline:none; /* not focus border on chrome */
	resize: none;
	margin-bottom: 15px;
}

form.plugins	input[type="text"]:hover,
form.plugins	input[type="text"]:focus,
form.plugins	input[type="password"]:hover,
form.plugins	input[type="password"]:focus,
form.plugins	textarea:hover,
form.plugins	textarea:focus {
	border-color: #ccc;
	box-shadow: 1px 1px 1px #ccc;
}

form.plugins	input[type="file"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 10px 8px;
	outline:none; /* not focus border on chrome */
	resize: none;
	margin-bottom: 15px;
}

form.plugins	input[type="button"].save,
form.plugins	input[type="submit"].save,
form.plugins	input[type="button"].disabled {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 7px 33px;

	background: #F1F1F1;
	background: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1));
}

form.plugins		input[type="button"].save:hover,
form.plugins		input[type="submit"].save:hover {
	background: #E1E1E1;
	background: -moz-linear-gradient(center top, #EFEFEF, #E1E1E1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#E1E1E1));
}

form.plugins		input[type="button"].disabled {
	color: #CCCCCC;
}

form.plugins		select {
	width: 100%;
	padding: 6px;
	margin-bottom: 15px;
}

form.plugins		label {
	margin-bottom: 2px;
	display: block;
}

form.plugins		div.tip {
    color: #777777;
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: -13px;
}

/*====================================================================*/
/* THEMES
/*====================================================================*/
div.theme {
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    overflow: auto;
    padding: 30px 0;
}

div.theme-img {
	border: 2px solid #EEEEEE;
	float: left;
	height: 180px;
	padding: 5px;
	width: 240px;
}

div.theme-img	img {
	width: 240px;
}

div.theme-data {
	margin-left: 280px;
	font-size: 1.4em;
}

div.theme-data	h2.name {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
}

div.theme-data	div.buttons a {
	margin-right: 15px;
}

div.theme-installed {
    background: #F1F1F1;
}